---
# front matter
---

#indexBodyyy {
    background: url('/assets/rio.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card {
    background: url('/assets/rio.jpg') center center no-repeat;
    border: 2px solid white;
    height: 100vh;
}

#card1 {
    background-position-x: -25em;
    background-position-y: -15em;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#card2 {
    background-position-x: 85%;
    background-position-y: -35em;
}
#card3 {
    background-position-x: -50em;
    background-position-y: -10em;
}
#card4 {
    background: url('/assets/corcovado.jpg') center center no-repeat;
    border: 1px solid white;
    height: 100vh;
    background-position-y: 90%;

    & a#posts {
        text-align: -webkit-center;
        transform: translate(-50%, -50%) scaleX(1);
    }

    & a#posts, a#bookshelf {
        color: black;
        font-size: 2em;
        line-height: 45px;
        width: 100%;
        font-weight: bold;
        
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
    }
}

#card1, #card3 {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

#floater {
    background-color: white;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.35);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.35);
    box-shadow: 0 10px 20px rgba(0,0,0,.35);
    padding: 2em;
    font-size: 1.15em;
    width: 90%;
    & strong { font-size: 1.2em; }
    & img#ohu {
        height: 2em;
        width: 2em;
    }
    hr {
        border-top: 1px solid #D6D6D6;
    }
}

#floater, #posts, #bookshelf {
    font-family: 'Rokkitt', serif;
    text-align: -webkit-left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#card1 a#posts, #card3 a#bookshelf {
    color: white;
    font-size: 4em;
    line-height: 40px;
    
    &:hover { 
        color: black;
        text-decoration: none;
    }
}

#posts {
    transform: translate(-50%, -50%) scaleX(-1);
}

#indexBodyTBD {
    background: url('/assets/winslow.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#indexBody > .page-content {
    padding: 0;
}

.socialMedia {
    position: absolute;
    bottom: 0.4em;
    right: 2em;
}

button.ghost {
    min-width: 6em;
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    background-color: transparent;
    border-color: white;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1.5px solid white;
    white-space: nowrap;
}

.ghost-sm {
    min-width: 3em;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    color: white;
    background-color: transparent;
    border-color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1.5px solid white;
    white-space: nowrap;
}

.folded {
  position: relative;
  -webkit-box-shadow: -5px 7px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: -5px 7px 5px rgba(0,0,0,0.8);
  box-shadow: -5px 7px 5px rgba(0,0,0,0.8);
}
 
.folded:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 2em solid #eee;
  border-right: 2em solid transparent;
  -webkit-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
}
 
.folded:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 2em solid #044F65; 
  border-left: 2em solid transparent;
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 786px) and (orientation: landscape) {
    button#navLink {
        top: 0.5em;
        left: 0.5em;
    }
    #floater {
        width: 80%;
        top: 48%;
        & img {
            height: 1.5em;
            width: 1.5em;
        }
    }
}

@media screen and (max-width: 687px) and (orientation: landscape) { 
    #floater {
        width: 75%;
        top: 48%;
        height: 75%;
        #posts, #bookshelf {
            margin-top: 40%;
        }
        hr.rule {
            display: none;
        }
    }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
    #floater {
        padding: 1em;
        #posts, #bookshelf {
            margin-top: 45%;
        }
        .rule {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
    #floater {
        height: 75%;
        & img#ohu {
            display: none;
            margin-top: 45%;
        }
        .rule {
            display: none;
        }
    }
}

@media screen and (max-height: 740px) and (orientation: portrait) { 
    #floater {
        & img#ohu {
            height: 1.5em;
            width: 1.5em;
        }
    }
    button#navLink {
        top: 0.5em;
        left: 0.5em;
    }
}

@media screen and (max-height: 480px) and (orientation: portrait) { 
    #floater {
        padding: 1em;

        & img#ohu {
            height: 1.5em;
            width: 1.5em;
        }
        .rule {
            display: none;
        }
    }
    button#navLink {
        top: 0.5em;
        left: 0.5em;
    }
}

/* iPad with portrait orientation */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .card {
        height: 1024px;
    }
}

/* iPad with landscape orientation */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .card {
        height: 768px;
    }
}

/* iPhone 5 */
@media screen and (device-aspect-ratio: 40/71) {
    .card {
        height: 500px;
    }
}
